.main {
  /* background-color: rgb(126, 8, 8); */
  width: 40rem;
  align-items: center;
  height: 25rem;
  border-radius: 2rem;
  
}

.app
{
  display: grid;
  justify-content: center;
  margin-top: 10rem;
  gap: 10px;
}

 body

{
  /* background: url("https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&w=600"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
 background-color: black;
} 

.whole

{
  /* background-color: rgb(89, 87, 85); */
  height: 8rem;
  color: antiquewhite;
  border-radius: 2rem;
}

.form
{
  margin-top: 1rem;
  gap: 1rem;
  margin: 3rem;
}